version: "3.7"
services:
  web_app:
    container_name: mybus_dev
    build: 
      context: .
      dockerfile: dockerfile.local
    stdin_open: true
    ports:
      - 3000:3000
    environment:
      - REACT_APP_HOST=server
      - NODE_ENV=development
    networks:
      - api
  server:
    image: davidhailu0/mybusserver:1.0.0
    container_name: localserver
    environment:
      - MONGODB_URI=mongodb+srv://mybus:priuJr3FVQ96IcSB@cluster0.gn92lfx.mongodb.net/?retryWrites=true&w=majority
      - PORT=9000
      - HOST=localhost
    networks:
      - api
  database:
    image: mongo:nanoserver
    container_name: db
    networks:
      - api
  test:
    container_name: mybus_test
    privileged: true
    build: 
      context: .
      dockerfile: dockerfile.local
    environment:
      - REACT_APP_HOST=localserver
    depends_on:
      - server
    networks:
      - api
    command: npm run ci:e2e
  prod:
    container_name: mybus-app
    build:
      context: .
      dockerfile: dockerfile.production
    ports:
      - '3001:80'
    environment:
      - NODE_ENV=production
      - REACT_APP_HOST=localserver
    depends_on:
      - server
networks:
  api: 
    driver: bridge