version: "3.7"
services:
  web:
    container_name: web
    build: ./
    stdin_open: true
    # depends_on:
    #   - serviceName
    volumes:
      - "/node_modules/.bin:/client/node_modules/.bin"
    ports:
      - 3000:3000
  test:
    build: 
      context: .
      dockerfile: dockerfile.test
    container_name: test
    command: npm run ci:e2e
    ports:
      - 3000:3000
